body{
    background-color: rgb(4, 39, 67);
}
.textHeight{
    height:200px;
}
.heading{
    margin-top: 3rem;
}
.btncolor{
    background-color:lightgray
}
.accdesign{
    margin-top: 7rem;
}
.accordion-button-dark{
    background-color: rgb(36 74 104);
    color: white;
    width:100%;
    text-align: left;
}

.accordion-button-light{
    background-color: white;
    color: black;
    width:100%;
    text-align: left;
}
.accordion-body-dark{
    background-color: black;
    color: white;
}

.accordion-body-white{
    background-color: white;
    color: black;
}